body {
  color: lightgray;
}

h3, h4 {
  color: cornflowerblue;
  font-size: 1cm;
  border-bottom: 1px solid lightgray;
}

h5 {
  color darkgray;
}

.js .cbp-ntcontent {
  display: none
}
.cbp-ntopen > .cbp-ntcontent {
  display: block;
}
