body {
  color: gray;
}

h3 {
  font-family: 'Open Sans';
}

h4 {
  text-transform: uppercase;
  font-family: 'Monda';
}

h3, h4 {
  color: cornflowerblue;
  font-size: 1cm;
  border-bottom: 1px solid lightgray;
}

h5 {
  color darkgray;
  font-family: 'Roboto';
}

.js .cbp-ntcontent {
  display: none
}

.cbp-ntopen > .cbp-ntcontent{
    display: block;
}

ul {
   list-style-image: url('guns4.png');
}

ul > .cbp-ntopen{
  list-style-image: url('guns5.png');
}
