
body {
  font-family: Arial, sans-serif;
  color: cornflowerblue;
  font-size: 100%;
}
.content section[id^="section-"] {
  display: none;
  padding-left: 1em;
  padding-right: 1em;
}
.content section[id^="section-"].content-current {
  display: block;
}
.content section[id^="section-"]::after {
  content: " ";
  display: table;
  clear: both;
}

.mediabox {
  width: 33%;
  float: left;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;
}
.mediabox:first-of-type{
  padding-left: em;
}
.mediabox img {
  width: 100%;
}
nav ul{
  border-bottom: 1px solid cornflowerblue;
  text-align: center;
  margin: 5em 0 5em 0;
  padding-bottom: 0.75em
}
nav li {
	display: inline-block;
	margin: 0 0.5em 0 0;
}

nav a {
  padding: 0.5em 1em 0.5em 1em;
  border: solid lightgray;
	border-width: 1px 1px 0 1px;
  font-size: 20pt;
  font-family: 'Josefin Sans';
  text-decoration: none;
  color: lightgray;
}
.tab-current {
  padding-top: 0.4em;
  border-width: 3px 1px 4px 1px;
  padding-bottom: 0.4em;
  border-top-color: cornflowerblue;
  border-left-color: cornflowerblue;
  border-right-color: cornflowerblue;
  border-bottom-color: white;
  color: cornflowerblue;
}
a:not(.tab-current):hover {
  background-color: red;
}
a.tab1 span:before {
  content: url(Weapons/bow.png);
}
a.tab2 span:before {
  content: url(Weapons/gun.png);
}
a.tab3 span:before {
  content: url(Weapons/lightning.png);
}
a.tab4 span:before {
  content: url(Weapons/criminal.png);
}
a.tab5 span:before {
  content: url(Weapons/missile.png);
}
